@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

body {
  background-color: #c2d3e0;
}

.btn {
  color: #164662;
  background-color: #dae6f0;
  border: 1px solid #164662;
  font-size: 40px;
  cursor: pointer;
  padding: 20px;
  width: 300px;
  font-weight: 100;
  font-family: "Alegreya Sans SC", sans-serif;
}

.btn:hover {
  color: #dae6f0;
  background-color: #164662;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-horizontal {
  text-align: center;
}

#top,
#bottom,
#left,
#right {
  background: white;
  position: fixed;
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 5px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 5px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}

.parabens {
  display: none;
  font-family: "Allura", cursive;
  font-size: 42px;
  color: #164662;
  margin-top: 4rem;
}

.moldura-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid #164662;
  width: 85%;
  height: 45%;
  display: none;
  background-color: #dae6f0;
}

.moldura-2 {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid #164662;
  width: 92%;
  height: 92%;
  background-color: #dae6f0;
}

.moldura-3 {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px solid #fad390;
  width: 90%;
  height: 90%;
  background-color: #dae6f0;
  text-align: right;
}

.mensagem {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  color: #164662;
  text-align: center;
  display: none;
}

.mensagem-by {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  color: #164662;
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: none;
}

.flor {
  font-size: 36px;
  color: #164662;
  position: absolute;
  left: -5%;
  bottom: -5%;
  width: 30%;
  display: none;
}
